# PUERTO DEL SERVIDOR (Por defecto 3005)
PORT=3005

# CADENA DE CONEXIÓN A LA BASE DE DATOS MONGODB
# (Ejemplo Local: mongodb://localhost:27017/SGS)
# (Ejemplo Nube Atlas: mongodb+srv://<usuario>:<password>@cluster.mongodb.net/SGS)
MONGODB_URI=TU_CADENA_DE_CONEXION_AQUI

# SECRETO PARA FIRMAR LOS TOKENS JWT
# (Genera una cadena aleatoria larga y guárdala en secreto)
JWT_SECRET=TU_CLAVE_SECRETA_SUPER_SEGURA_AQUI

# ENTORNO DE EJECUCIÓN (development | production)
NODE_ENV=development

# ORIGEN DEL FRONTEND PARA CORS (Ej: http://localhost:5173 o https://tu-dominio.com)
FRONTEND_URL=http://localhost:5173
